site_name: PDPBioGen Documentation
theme:
  name: material
  features:
    - navigation.expand
    - navigation.sections
    - content.tabs.link
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
nav:
  - Home: index.md
  - Installation: installation.md
  - Architecture: architecture.md
  - Datasets: datasets.md
  - Pipeline: pipeline.md
  - API Reference: api.md
