profiles {
  docker {
    process {
      executor = 'local'
      // Use Docker as the container engine
      container = 'pdpbiogen/bench:smoke'
    }
    docker.enabled = true
  }
}

process {
  executor = 'local'
  cpus = 1
  memory = '4 GB'
  time = '1h'
}

trace {
  enabled = true
}

timeline {
  enabled = true
}

report {
  enabled = true
}
